<ion-header>

  <ion-navbar>
    <ion-title>{{document.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg">
  <ion-card *ngFor="let section of document.sections">
    <ion-card-header *ngIf="section.title">{{section.title}}</ion-card-header>
    <ion-card-content *ngIf="section.description">
      <p>{{section.description}}</p>
    </ion-card-content>

    <ion-item *ngFor="let input of section.inputs">
      <ion-badge (click)="removeInput(input._id); $event.stopPropagation()" item-left><ion-icon name="trash"></ion-icon></ion-badge>
      
      <ion-label stacked>
        {{input.label}}
      </ion-label>
      
      <ion-datetime (ngModelChange)="saveResponse(input)" [(ngModel)]="input.responseValue" *ngIf="input.dataType == 'Date'" displayformat="MMM DD YYYY"></ion-datetime>
      
      <ion-input (ngModelChange)="saveResponse(input)" [(ngModel)]="input.responseValue" [placeholder]="input.placeholder || ''" *ngIf="input.dataType == 'Short Text' && !input.choices" type="text"></ion-input>

      <ion-select (ngModelChange)="saveResponse(input)" [(ngModel)]="input.responseValue" *ngIf="input.choices">
        <ion-option *ngFor="let choice of input.choices.split('\n');">{{choice}}</ion-option>
      </ion-select>

    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button icon-left small full (click)="loadEditSection(section._id); $event.stopPropagation()">
          <ion-icon name="create"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left small full (click)="loadInputEdit(section._id); $event.stopPropagation()">
          <ion-icon name="add"></ion-icon>
          <div>Input</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-left small full (click)="removeSection(section._id); $event.stopPropagation()">
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  

	<ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="loadSectionNew(document._id)"  ><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="removeDocument()"  ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="loadEditDocument()"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="sendNotification()"><ion-icon name="send"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-right (click)="saveAssignment()">
        {{assignment.completedAt ? 'Mark Incomplete' : 'Mark Complete'}}
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-right (click)="saveResponses()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
