<ion-header>
  <ion-navbar>
    
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    
    <ion-title (click)="log('hi')">
      {{user?.assignments?.length || 0}} of {{user ? (user.assignments.length + 1) : 10}} completed
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="mail"></ion-icon>
        <ion-badge item-right>260</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <h2 padding>Table of contents</h2>

  <ion-item-group *ngFor="let part of notebook?.parts">
    <ion-item-divider color="light" (click)="loadEditPart(part._id)">{{part.title}}</ion-item-divider>
    <ion-item *ngFor="let document of part.documents" (click)="loadDocumentShow(document._id)">{{ document.title }}</ion-item>
    <ion-item (click)="loadNewDocument(part._id)">Add Document</ion-item>
  </ion-item-group>

  <button ion-button full (click)="loadNewPart(notebook?._id)">Add New Part</button>

</ion-content>
